  body {
      background-image: url(../images/dolo1.webp);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }