  body {
      background-image: url(../images/alp2.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }