* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

nav {
    background-color: rgba(179, 174, 174, 0.425);
    backdrop-filter: blur(10px);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

#menu:hover {
    background-color: #bdbabd;
}

.sidebar a:hover {
    background-color: #bdbabd;
}

nav button {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-family: inherit;
}

nav button:hover {
    background-color: #bdbabd;
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    z-index: 999;
    background-color: rgba(179, 174, 174, 0.425);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

#hideSidebar2 {
    background-color: rgba(179, 174, 174);
    backdrop-filter: blur(0px);
}